{% extends 'base.html.twig' %}
{% block title %}{{ article.titre }}{% endblock %}
{% block meta %}
<base href="http://dev.cgofficiel.fr/blog/{{ article.slug }}" />
        <meta name="keywords" content="{% for categorie in article.categories %}{{ categorie.nom | capitalize}}{% if not loop.last %} ,{% endif %}{% endfor %},{% for categorie in article.categories %}{{ categorie.slug }}{% if not loop.last %} ,{% endif %}{% endfor %}" />
        <meta name="x-ua-compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{{ article.description }}" />
        <meta property="og:title" content="{{ article.titre }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://dev.cgofficiel.fr/blog/{{ article.slug }}">
        <meta property="og:image" content="http://dev.cgofficiel.fr{{ asset('uploads/' ~ article.image.url) }}">
        <meta property="og:description" content="{{ article.description }}">
        <meta property="og:author" content="{{ article.auteur }}">
        <meta property="og:video" content="">
        <meta property="og:locale" content="fr_FR">
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:url" content="http://dev.cgofficiel.fr/blog/{{ article.slug }}" />
        <meta name="twitter:title" content="{{ article.titre }}" />
        <meta property="twitter:description" content="{{ article.description }}" />
{% endblock %}

{% block body %}
	<div class="row main-show">
		<div class="col-sm-8 mb-5 show-article">
			<h1 class="col-10 col-md-10 mx-auto  show-article-titre mt-5">{{ article.titre }}</h1>
			<p class="col-12 col-md-10 mx-auto show-article-categorie">
                {% if article.categories.count > 0 %}
                    Catégories :
                    <strong>
                        {% for categorie in article.categories %}
                            <a href="{{ path('show_cat', {'slug':categorie.slug}) }}">
                                <span class="badge badge-pill badge-dark">{{ categorie.nom | capitalize}}</span>
                            </a>
                            {% if not loop.last %}    {% endif %}
                        {% endfor %}
                    </strong>
                {% endif %}
            </p>
			<blockquote class="col-10 col-md-10 mx-auto blockquote show-article-blockquote ">
				<footer class="blockquote-footer">
                    Posté le <cite title="Source Title">{{ article.date | date('d-M-Y') }}</cite>
                    à <cite title="Source Title">{{ article.date | date('H:i') }}</cite>
                    par <cite title="Source Title">{{ article.auteur }}</cite>
                </footer>
				<img src="{{ asset('uploads/' ~ article.image.url) }}" alt="{{ article.titre }}" class="rounded mx-auto d-block img-fluid p-4">
				<p>{{ article.contenu | raw }}</p>
				<div class="col-12 social-btn mt-5 mb-5 d-flex flex-row justify-content-center my-flex-container">
					<div class="col-12 social-btns mx-auto d-flex flex-row justify-content-center my-flex-container">
						<a class="btn facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</i>
						</a>
						<a class="btn twitter" href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="btn google" href="#">
							<i class="fab fa-google"></i>
						</a>
					</div>
				</div>
		</blockquote>
		<div class="col-12 col-md-10 mx-auto adsense-2 mt-5 mx-auto"></div>
		{% if post %}
			<div class="row col-10 col-md-10 mx-auto show-article-suggestion d-flex flex-row justify-content-between my-flex-container mt-5">
				<h3 class="col-12 show-article-suggestion-titre">Vous aimeriez aussi lire:</h3>
				{% for posts in post %}
					<div class="row col-5 article-suggestion-card mt-2 mb-2">
						<a class="row article-suggestion-card-box" href="{{ path('blog_show', {'slug':posts.slug}) }}">
							<div class="col-4 article-suggestion-card-box-img">
								<img class="img-rounded img-fluid" src="{{ asset('uploads/'~ posts.image.url) }}" alt="{{ posts.titre }}">
							</div>
							<div class="col-8 article-suggestion-card-box-titre d-flex flex-row justify-content-center my-flex-container align-items-center">
								<small class="mx-auto">{{ posts.titre | raw}}</small>
							</div>
						</a>
					</div>

				{% endfor %}
			{% endif %}
		</div>
		<h3 class="col-10 col-md-10 mx-auto mt-3 show-article-commentaire mt-5">Commentaires
			<span class="badge badge-info badge-pill">{{ article.commentaires | length }}</span></h3>

		<section class="commentaire col-10 col-md-10 mx-auto ">
			{% for comment in article.commentaires %}
				{% if comment.publication %}
					<div class="row">
						<div class="col-sm-3">
							<small>
								<em>
									De
									{{ comment.auteur }}
									le
									{{ comment.date | date('d/m/Y à H:i') }}
								</em>
							</small>
						</div>
						<div class="col-sm-9">
							{{ comment.contenu | raw }}
						</div>
					</div>
				{% endif %}
				<hr>
			{% endfor %}
			<h3>Laisser un commentaire</h3>
			<br>
			{{ form_start(formComment) }}
			{{ form_label (formComment.auteur, "Nom") }}
			{{ form_widget(formComment.auteur,{'attr':{'placeholder':"Votre nom"}}) }}
			{{ form_label (formComment.contenu, "Commentaire") }}
			{{ form_widget(formComment.contenu,{'attr':{'placeholder':"Votre
      commentaire"}}) }}
			<br>
			<input type="submit" value="Publier le commentaire" class="btn btn-info">
			{{ form_end(formComment) }}
		</section>
	</div>
	<div class="col-sm-4 sidebar">
		<h4 class="col-10 mx-auto sidebar-titre mt-5">Recherchez un article</h4>
		<div class="col-10 mx-auto input-group mb-5">
			<input type="text" class="form-control" placeholder=" " aria-label=" " aria-describedby=" basic-addon2"=" basic-addon2""="basic-addon2" "">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<h4 class="col-10 mx-auto sidebar-titre">Liste des catégories</h4>
		<ul class="col-10 mx-auto list-group">
			{% for category in cat %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<a href="{{ path('show_cat',{'slug':category.slug}) }}">{{ category.nom }}</a>
					<span class="badge badge-primary badge-pill">{{ category.article | length }}</span>
				</li>
			{% endfor %}
		</ul>

		<div class="col-10 mx-auto adsense mt-5 mx-auto"></div>

		<div class="col-10 mx-auto container sidebar-faq mt-5 mb-5">            
            <h4 class="col-10 mx-auto">FAQ</h4>
            <br>
                {{ include('blog/search.html.twig') }}
                <br>
                {% for faq in faqs %}
                    <!-- Button trigger modal -->
                    <a href="#" class="" data-toggle="modal" data-target="#exampleModalLong{{ faq.id }}">
                        <strong>{{ faq.titre }}</strong>
                    </a>
                        <p>{{ faq.contenu | slice(0,136) | raw }}...</p>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong{{ faq.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle{{ faq.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle{{ faq.id }}">{{ faq.titre }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ faq.contenu | raw }}
                                </div>
                                <div class="modal-footer">
                                    {% if is_granted('ROLE_USER') %}
                                        <a class="btn btn-secondary" href="{{path('user_faq_edit',{'id':faq.id})}}">Modifier</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-secondary" href="{{path('user_faq_delete',{'id':faq.id})}}">Supprimer</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
	</div>
</div>

{% endblock %}